<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupfour.software.bikerentalapplication">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.BaseActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".admin.AdminCycle">

        </activity>

        <activity android:name=".login.Signup"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".login.OTP"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".login.ForgotPass"></activity>

        <activity android:name=".admin.AdminTransfer" />
        <activity android:name=".admin.AdminComplaint"></activity>

    </application>

</manifest>